@import "tailwindcss";

@theme {
  --color-brand-primary: #e23744;
  --color-brand-secondary: #24963f;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
